<div class="total">
  <app-header> </app-header>
  <div class="context">
    <div class="left">
      <!-- <d-toggle [size]="large"></d-toggle> -->
      <d-toggle size="medium"></d-toggle>
    </div>
    <div class="right">
      <div id="tags"></div>
      <d-tag [tag]="'重要不紧急'" [labelStyle]="'blue-w98'"></d-tag>
      <d-tag [tag]="'单次：2019-12-01'" [labelStyle]="'blue-w98'"></d-tag>
      <p id="neirong">内容</p>
    </div>
  </div>
  <div style="position: fixed;bottom:10px;right:10px;">
    <d-button (click)="addtask()"> +</d-button>
    <!-- <input type="button" value="+" style="height: 50px;width: 50px;" (click)="addtask()"> -->
  </div>
</div>