<div class="footer">
  <d-tabs  [type]="'options'" [(activeTab)]="tabacticeID">
    <d-tab id="tab1" title="番茄钟" tabId="tab1">
        <ng-template dTabContent>
            番茄钟
        </ng-template>
    </d-tab>

    <d-tab id="tab2" title="清单" tabId="tab2">
        <ng-template dTabContent>
            <app-list></app-list>
        </ng-template>
    </d-tab>

    <d-tab id="tab3" title="四象限" tabId="tab3">
        <ng-template dTabContent>
            <app-quadrant></app-quadrant>
        </ng-template>
    </d-tab>

    <d-tab id="tab4" title="统计" tabId="tab4">
      <ng-template dTabContent>
          <app-home></app-home>
      </ng-template>
    </d-tab>

    <d-tab id="tab5" title="设置" tabId="tab5">
      <ng-template dTabContent>
          <app-setting></app-setting>
      </ng-template>
    </d-tab>
  </d-tabs>
</div>