.content{
    margin: 0 auto;
    height: auto;
}
.footer{
    margin: 0 auto;
    height: auto;
}

:host ::ng-deep .nav-options>li{
    width:20%;
    text-align: center;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
