<div class="container">
    <div class="job">
        <h2>任务统计</h2>
        <div class="block1">
            <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
        </div>
        <div class="block1">
            <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
        </div>
        <div class="block1">
            <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
        </div>
    </div>
    <div class="update">
        <h3>温故知新</h3>
    </div>
    <div class="everyday">
        <h3>每日完成的番茄数</h3>
    </div>
</div>
