h3 {
    color: #5170FF;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #E3E5E9;
}

.snapshot-value {
    display: inline-block;
    margin-left: 20px;
  }
.content{
    padding:0 15px 0 15px;
}

.footer{
    text-align: center;
    margin: 15px 0 0 0;
    width: 100%;
    height: 20px;
    background-color:#f3f6f8;
}
.footer>span{
    color:#5E6678;
}
.numoftomatoes-set{
    padding: 10px 0 10px 0;
}
.lengthofwork{
    padding: 10px 0 15px 0;
}
.lengthofrest{
    padding: 15px 0 15px 0;
}
.input-number-worktime{
    float: right;
}
.input-number-resttime{
    float: right;
}
.d-toggle{
    float: right;
}
.devui-input-group{
    padding: 15px 0 0 0;
}
.showtodo{
    padding: 15px 0 15px 0;
}
.alarm{
    padding: 15px 0 15px 0;
}
.ringtone-selection{
    padding: 15px 0 15px 0;
}

d-select{
    padding: 15px 0 0 0;
}

