<header>
  <img src="../../../assets/imgs/back.png" alt="图没了" id="back">
  <p class="title"> 添加任务</p>
</header>

<div class="main">
  <textarea cols="30" rows="10">
  </textarea>
  <hr>
  <div class="choose">
    <div class="left">四象限</div>
    <div class="right">
      <d-button>重要紧急</d-button>
      <d-button>重要不紧急</d-button>
      <d-button>紧急不重要</d-button>
      <d-button>不重要不紧急</d-button>
    </div>
  </div>
</div>
<div class="repeat">
  <p style="font-size: 20px;">提醒/重复</p>
      <d-toggle></d-toggle>

</div>