<div class="clock1">
  <p>番茄钟统计</p>
  <h3>0h0m&nbsp;&nbsp;4&nbsp;&nbsp;1</h3>
  <p>专注时长&nbsp;&nbsp;中断数&nbsp;&nbsp;陪伴天数</p>
  <p>番茄钟<img [src]="barLogo">0/10</p>
</div>

<div class="job">
    <h2>任务统计</h2>
    <div class="block1">
        <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
    </div>
    <div class="block1">
        <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
    </div>
    <div class="block1">
        <h6>任务清单&nbsp;&nbsp;<img [src]="barLogo">&nbsp;&nbsp;0/1</h6>
    </div>
</div>

<div class="block2">
  <h2>今日总结</h2>
</div>