<div class="context">
  <div class="quadrant" style="background-color: #F95F5B;">
  <ul>
    <li class="task"><app-task></app-task></li>
    <li class="task"><app-task></app-task></li>
    <li class="task"><app-task></app-task></li>
    <li class="task"><app-task></app-task></li>
    <li class="task"><app-task></app-task></li>
    <li class="task"><app-task></app-task></li>
    
  </ul>
  </div>
  <div class="quadrant2" style="background-color: #FECC55;"> 2</div>
</div>
<div class="context">
  <div class="quadrant" style="background-color: #0AD3F4;">
  <ul>
      <li class="task"><app-task></app-task></li>
      
    </ul>
    </div>
  <div class="quadrant2" style="background-color: #E3E5E9;"> 4</div>
</div>
<div style="position: fixed;bottom:10px;right:10px;">
   <d-button (click)="addtask()" > +</d-button>
    <!-- <input type="button" value="+" style="height: 50px;width: 50px;" (click)="addtask()"> -->
  </div>